<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

    <h1>Hello World... from a view!!!!</h1>

    <% 4.times do %>    
        <div><%= @date %></div>
    <% end %>

    <h4>This is my super home page</h4>



</body>
</html>